# Environment (prod or local)
APP_ENV=local

# Debug mode set to TRUE disables view caching and enables higher verbosity
DEBUG=true

# Verbosity level
VERBOSITY_LEVEL=verbose # basic, verbose, debug

# Set to an application specific value, used to encrypt/decrypt cookies etc
ENCRYPTER_KEY={encrypt-key}

# Monolog
MONOLOG_DEFAULT_CHANNEL=default # Use "roadrunner" channel if you want to use RoadRunner logger
MONOLOG_DEFAULT_LEVEL=DEBUG # DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY

# Telemetry
TELEMETRY_DRIVER=null

# Set to TRUE to disable confirmation in `migrate` commands
SAFE_MIGRATIONS=true

# Database
DB_CONNECTION=sqlite

# Cycle Bridge (Don't forget to set `CYCLE_SCHEMA_CACHE` to `true` in production)
CYCLE_SCHEMA_CACHE=false
CYCLE_SCHEMA_WARMUP=false
